@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to "MVC TacoCat"</h1>
    <div class="col d-flex align-content-center">
        <img src="~/img/taco_cat.svg" alt="TacoCat Logo" class="img-fluid center-block d-block mx-auto pb-3">
    </div>
    <h4 class="lead">An ASP.NET Core MVC coding exercise.</h4>
    <h4 class="lead">A program to solve and present the question... "Is it a palindrome?</h4>
</div>
